<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Everyday Menu - Liberteri Italiano Web Template</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<ul class="first">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li class="current"><a href="{{ url_for('menu') }}">Evening Menu</a></li>
			</ul>
			<div>
				<a href="{{ url_for('index') }}"><img src="../static/images/logo.jpg" alt="Logo"></a>
			</div>
			<ul>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div>
			<div class="section">
				<span><a href="{{ url_for('index') }}"><img src="../static/images/pizza.jpg" alt="Image"></a></span>
				<div>
					<h2>Pizza</h2>
					<ul>
						<li class="first">
							<table>
								<tr>
									<td>Salami and Cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ripacotta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Terracotta on wheat</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ham and cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Burroli</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>La Pieta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Cheverkybebab</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Pastrami and Rye</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Delicateseen</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Michael&#39;s Special</td>
									<td><span>$24.50</span></td>
								</tr>
							</table>
						</li>
						<li>
							<table>
								<tr>
									<td>Salami and Cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ripacotta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Terracotta on wheat</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ham and cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Burroli</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>La Pieta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Cheverkybebab</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Pastrami and Rye</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Delicateseen</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Michael&#39;s Special</td>
									<td><span>$24.50</span></td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
			<div class="section">
				<span><a href="{{ url_for('index') }}"><img src="../static/images/pasta.jpg" alt="Image"></a></span>
				<div>
					<h2>Pasta</h2>
					<ul>
						<li class="first">
							<table>
								<tr>
									<td>Salami and Cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ripacotta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Terracotta on wheat</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ham and cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Burroli</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>La Pieta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Cheverkybebab</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Pastrami and Rye</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Delicateseen</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Michael&#39;s Special</td>
									<td><span>$24.50</span></td>
								</tr>
							</table>
						</li>
						<li>
							<table>
								<tr>
									<td>Salami and Cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ripacotta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Terracotta on wheat</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Ham and cheese</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Burroli</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>La Pieta</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Cheverkybebab</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Pastrami and Rye</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Delicateseen</td>
									<td><span>$24.50</span></td>
								</tr>
								<tr>
									<td>Michael&#39;s Special</td>
									<td><span>$24.50</span></td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<ul>
				<li id="pasta">
					<div>
						<span>Pasta</span>
						<p>High-quality pasta prepared on-site reflects true Italian tradition, made from fresh, high-quality ingredients, boasting excellent texture and rich flavors.</p>
						<a href="{{ url_for('index') }}" class="more">More</a>
					</div>
				</li>
				<li id="pizza">
					<div>
						<span>Pizza</span>
						<p>Enjoy an authentic Neapolitan pizza experience, crafted with thin and crispy texture, made with love from the highest quality ingredients.</p>
						<a href="{{ url_for('index') }}" class="more">More</a>
					</div>
				</li>
				<li id="callus">
					<div>
						<span>Call us now!</span>
						<b>03-485-7375</b>
						<p><strong>Contact us at:</strong><br><i>LNO@gmail.com.com</i></p>
						<p><strong>Snailmail:</strong><span>#3 Hayasmin Street,<br>Ramat Gan<br>Israel</span></p>
					</div>
				</li>
			</ul>
		</div>
		<div class="section">
			<div>
				<p>&copy; Copyright &copy; 2011. Company name all rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>